* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #A5FFD6;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 16px;
}

.navbar {
    background-color: #ffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 55px;
    padding-left: 50px;
    padding-right: 50px;
    z-index: 999;
}

.navbar .logo {
    position: relative;
}

.navbar img {
    width: 40px;
}

.navbar .brand {
    position: absolute;
    top: 7px;
    left: 42px;
    font-family: 'Salsa', cursive;
    text-decoration: none;
    color: #4BD0AF;
    font-size: 1.2em;
}


/* Sidebar */

.wrapper {
    margin-top: 55px;
}

.sidebarhp {
    height: 100vh;
    width: 60px;
    z-index: 51;
    position: fixed;
    background-color: red;
    display: block;
    opacity: 1;
    cursor: pointer;
    opacity: 0;
}

.sidebarpc {
    height: 100vh;
    width: 0px;
    z-index: 50;
    position: fixed;
    background-color: red;
    display: block;
    opacity: 1;
    cursor: pointer;
    right: 0;
    opacity: 0;
}

.sidebar {
    margin-top: 55px;
    height: 100vh;
    width: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow-x: hidden;
    padding-top: 30px;
}


/*sidebar Original
.sidebar {
    margin-top: 55px;
    height: 100vh;
    width: 260px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow-x: hidden;
    padding-top: 30px;
}

*/

.sidebar ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 15px;
}

.sidebar a {
    min-width: 180px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 75px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    background-color: #ffff;
    border: 1px solid #84DCC6;
    border-radius: 50px;
    color: #000000;
    transition: all .3s;
}


/*
.sidebar a {
    min-width: 180px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    background-color: #ffff;
    border: 1px solid #84DCC6;
    border-radius: 50px;
    color: #000000;
    transition: all .3s;
}
*/

.sidebaricon {
    color: white;
    display: none;
}

.sidebar svg {
    width: 30px;
}

.sidebar .active a,
.sidebar a:hover {
    background-color: #4BD0AF;
    color: white;
}

.sidebar .active svg path,
.sidebar a:hover svg path {
    fill: #ffff;
}

.main {
    margin-left: 60px;
    padding: 30px 20px;
    /* padding-top: 30px; */
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* Page Setting */

.page-setting {
    width: 100%;
}

.page-setting h1,
.page-setting h3 {
    font-weight: 500;
}

.page-setting input {
    border: 1px solid #84DCC6;
    border-radius: 50px;
}

.page-setting select {
    border: 1px solid #84DCC6;
    border-radius: 50px;
}

.page-setting-header {
    padding: 20px 40px 0px;
}

.page-setting form {
    padding: 10px 40px 10px;
}

.page-setting ul li {
    list-style: none;
}

.page-setting ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.page-setting a {
    text-decoration: none;
    text-align: center;
}

.page-setting ul li a {
    display: block;
    border: 1px solid #84DCC6;
    color: #000000;
    border-radius: 50px;
    padding: 5px 20px;
    /* width: 120px;
    height: 35px; */
}

hr {
    border-top: 1px solid #84DCC6;
    background-color: #84DCC6;
    margin: 0;
}

form button {
    padding: 3px 40px;
    border-radius: 50px;
    border: 1px solid #4BD0AF;
    background-color: #4BD0AF;
    color: white;
    margin-bottom: 10px;
}

.buttonpay {
    background-color: #FFFFFF;
    border: 1px solid #4BD0AF;
    color: white;
    text-decoration: none;
    display: inline-block;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 20px 20px 20px 20px;
    margin: 5px 5px 5px 5px;
    font-weight: lightest;
    width: 100%;
    height: 38px;
    margin-bottom: 5;
    padding: 5px 0 5px 0;
    cursor: pointer;
}

.ovo {
    display: inblock;
    height: 20px;
    background: white;
    color: white;
    text-decoration: none;
}

.ovo:before {
    content: '';
    background: url("assets/OVO.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    background-size: 100%;
    background-position: top center;
    margin-left: 60px;
    width: 80px;
    height: 30px;
}

.gopay {
    display: inblock;
    height: 20px;
    background: white;
    color: white;
    text-decoration: none;
}

.gopay:before {
    content: '';
    background: url("assets/GOPAY.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    background-size: 100%;
    background-position: top center;
    margin-left: 60px;
    width: 80px;
    height: 30px;
}

.dana {
    display: inblock;
    height: 20px;
    background: white;
    color: white;
    text-decoration: none;
}

.dana:before {
    content: '';
    background: url("assets/DANA.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    background-size: 100%;
    background-position: top center;
    margin-left: 60px;
    width: 80px;
    height: 30px;
}


/*Tabel Harga*/

.tableharga {
    color: #FFFFFF;
    margin-bottom: 10px;
}

.tableharga,
th,
td {
    padding: px 10px;
}

.harga {
    height: 30px;
    width: 30px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}